@{
    ViewBag.Title = "About";
}
<h2>About</h2>
<h3>Md. Reyad Hossain</h3>

<p>
    Passionate in ASP .NET and Full-Stack development. Enthusiastic engineering undergraduate with basic knowledge in coding and web-Application. Proficient in Problem Solving skills with logical methodology for Competitive Programming. Good
    understanding in Object-Oriented Programming (OOP). Capability to work in teams and capable to learn new technology very quickly.
</p>
