@{
    ViewBag.Title = "Contact - Md. Reyad Hossain";
}
<h2>Contact</h2>
<h3>Feel free to contact with me</h3>

<address>
    Ghatpar, Block-C<br />
    Bashundhara, Dhaka-1229<br />
    <abbr title="Phone">Phone:</abbr>
    <a href="tel:01956394373">+880 1956-394373</a>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">reyadhosen@gmail.com</a><br />
    <strong>Website:</strong> <a href="http://reyad.ezyro.com/">Reyad Portfolio</a>
</address>