@{
    ViewBag.Title = "Expense Tracker";
}

<div class="jumbotron">
    <h1>Expense Tracker</h1>
    <p class="lead">Track your Expenses of your House Rent, Eelectricity Bill and more.</p>
    <p><a href="./Expense/" class="btn btn-primary btn-lg">Lets Go &raquo;</a></p>
</div>