@{
    ViewBag.Title = "Bills";
}

<h2>@ViewBag.Bill</h2>

<table class="table">
    <tr>
        <td>Start Data</td>
        <td>End Data</td>
        <td>Expense</td>
        <th colspan="2">Action</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.FirstDate</td>
            <td>@i.EndDate</td>
            <td>@i.Expenditure</td>
            <td><a class="btn btn-success" href="/Expense/EditBill?id=@i.Id&name=@ViewBag.Bill&catagoryId=@ViewBag.BillId">Edit</a></td>
            <td><a class="btn btn-danger" href="/Expense/DeleteBill/@i.Id">Delete</a></td>
        </tr>
    }
</table>

<a class="btn btn-primary" href="/Expense/AddBill?id=@ViewBag.BillId&name=@ViewBag.Bill">Add Bill +</a>