@{
    ViewBag.Title = "Deleted Catagory";
}

<h2>Deleted Catagories</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Id</td>
            <td>@i.Name</td>
            <td><a class="btn btn-success" href="/Expense/RecycleCatagory/@i.Id">Recycle</a></td>
        </tr>
    }
</table>
<a href="/Expense/">Go Back</a>